@model WebApplication8.Models.Hospital

@{
    ViewBag.Title = "Hospital Details";
    var doctors = ViewBag.Doctors as List<WebApplication8.Models.Doctor>;
}

<h2>Hospital Details</h2>

<p><strong>Name:</strong> @Model.Name</p>
<p><strong>Location:</strong> @Model.Address</p>

<h4>Doctors</h4>
<ul>
    @foreach (var doctor in doctors)
    {
        if (doctor.HospitalId == Model.Id)
        {
            <li>@doctor.Name - @doctor.Specialization</li>
        }
    }
</ul>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
