@model List<WebApplication8.Models.Hospital>

@{
    ViewBag.Title = "Hospitals";
}

<h2>Hospitals</h2>
<p>
    @Html.ActionLink("Create New Hospital", "Create")
</p>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Actions</th>
    </tr>
    @foreach (var hospital in Model)
    {
        <tr>
            <td>@hospital.Name</td>
            <td>@hospital.Address</td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = hospital.Id }) |
                @Html.ActionLink("Edit", "Edit", new { id = hospital.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = hospital.Id })
            </td>
        </tr>
    }
</table>
